<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">


    <style>
        *{
            font-family: 'Kode Mono';
        }

        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            }

        .split-line {
            width: 100%;
            height: 10vh;
            border-top: 4px solid black;
            border-color: black;
            margin: 0;
            }


    </style>
</head>
<body>
    <center><h1>Hello in project REV.*</h1></center>
    <div class="split-line"></div>
</body>
</html>